Package: gs.stallin.jason.lastgoogle
Name: LastGoogle
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Jason Stallings
Author: Jason Stallings
Section: Tweaks
